body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://www.planwallpaper.com/static/images/2014-08-Aurora-Blue-Background-HD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
